.modify-map-wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
}

.modify-map-border {
  border: 2px solid orange;
  height: 650px;
  width: 50%;
  float: left;
}

#modify-map {
  height: 100%;
  width: 100%;
}

h1 {
  margin: 20px;
}
