.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px;
}

.map-border {
  border: 5px solid orange;
  height: 100%;
  width: 50%;
  float: right;
}

#map {
  height: 100%;
  width: 100%;
}
