<h1>Create Issue</h1>
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <div class="map-wrapper">
      <div class="map-border">
        <div id="map"></div>
      </div>
    </div>
    <ng-template matStepLabel>Select location</ng-template>
    <form [formGroup]="firstFormGroup">
      <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input matInput formControlName="latitudeCtrl" required readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input matInput formControlName="longitudeCtrl" required readonly>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
